.services{
    padding-top: 60px;
}
.card,.review{
    margin-bottom: 30px;
}
.card-title.h5 {
    font-size: 28px;
    font-weight: 700;
}
.section-title h1 {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 30px;
    color:#150e56 ;
}
.service{
    text-align: center;
}
